huggingface_hub
hf_transfer
datasets
sentence_transformers
langchain
langchain-core
langchain-community
langchain-huggingface
evaluate
nltk
rouge_score
bert_score
absl-py
numpy<2
hf_xet
faiss-gpu
psutil
pynvml
pandas
seaborn
matplotlib
